[Desktop Entry]
Name=DFileManager
Comment=Browse files
GenericName=File browser
Exec=dfm
Terminal=false
Type=Application
Icon=folder
Categories=Application;Qt;System;FileTools;FileManager;
StartupNotify=false
