[Desktop Entry]
Name=DFM
Comment=browse files
GenericName=file browser
Exec=dfm
Terminal=false
Type=Application
Icon=folder
Categories=Application;Qt;System;FileTools;FileManager;
StartupNotify=false